*{
    margin: 0;
    padding: 0;
}
.header h1{
    text-align: center;
    font-size: 47px;
    background-color: lightgrey;
    /* margin: 0; */
    padding: 30px;
}
main{
    margin: 20px;
    margin-left: 0;
}
@media screen and (max-width: 600px) {
    .header h1{
    background-color: blue;
    }
    }
 